services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8000:8000"
    expose:
      - "8000"
    environment:
      - PORT=8000
      - DATABASE_URL=db://postgres:postgres@db:5432/expense_tracker
      - REFRESH_TOKEN_SECRET=1234#jfkdjfd
      - ACCESS_TOKEN_SECRET=abcd#efgh
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app_network
  db:
    image: postgres:latest
    container_name: db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: expense_tracker
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - app_network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_URL=http://localhost:3000/api
    container_name: frontend
    ports:
      - "3000:80"
    networks:
      - app_network
    depends_on:
      backend:
        condition: service_healthy # Wait for backend to be healthy before starting frontend

volumes:
  db_data:
networks:
  app_network:
    driver: bridge
